* {
  margin: 0;
  font-family: "Roboto", sans-serif;
}

html {
  height: 100%;
}

body {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(
    90deg,
    rgba(238, 174, 202, 1) 0%,
    rgba(148, 187, 233, 1) 83%
  );
}

.skeleton {
  height: 400px !important;
}

.heading {
  text-align: center;
  padding: 10px;
  padding-bottom: 20px;
  color: #505050;
  letter-spacing: 1px;
}

.table {
  height: 400px;
}
#root {
  max-width: 300px;
  width: 100%;
}

@media (min-width: 600px) {
  #root {
    max-width: 400px;
  }
}

@media (min-width: 769px) {
  #root {
    max-width: 500px;
  }
}

.cell {
  background-color: rgba(255, 255, 255, 0.1);
}

/* .MuiDataGrid-scrollbarFiller {
  background-color: rgba(255, 255, 255, 0.1) !important;
} */

/* .MuiDataGrid-scrollbarFiller--borderTop{
  background-color: rgba(255, 255, 255, 0.1) !important;
} */

.css-1essi2g-MuiDataGrid-columnHeaderRow {
  background: rgba(255, 255, 255, 0.4) !important;
}

/*    scrollbar    */

.MuiDataGrid-scrollbar::-webkit-scrollbar {
  width: 10px;
}

.MuiDataGrid-scrollbar::-webkit-scrollbar-track {
  border-radius: 8px;
  background-color: rgba(255, 255, 255, 0.4);
  border: 1px solid #cacaca;
}

.MuiDataGrid-scrollbar::-webkit-scrollbar-thumb {
  border-radius: 8px;
  background-color: #505050;
}

.MuiDataGrid-scrollbarContent {
  background-color: rgba(255, 255, 255, 0.1);
}
