* {
  margin: 0;
  font-family: "Roboto", sans-serif;
}

html {
  height: 100%;
}

body {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(
    90deg,
    rgba(238, 174, 202, 1) 0%,
    rgba(148, 187, 233, 1) 83%
  );
}

.heading {
  text-align: center;
  padding: 10px;
  padding-bottom: 20px;
  color: #505050;
  letter-spacing: 1px;
}

/*    skeleton    */

.skeleton-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
}

.MuiSkeleton-root {
  width: 100% !important;
  margin: 5px 0;
}

/*    table    */

.table {
  height: 400px;
}
#root {
  max-width: 300px;
  width: 100%;
}

.cell {
  background-color: rgba(255, 255, 255, 0.1);
}

.css-1essi2g-MuiDataGrid-columnHeaderRow {
  background: rgba(255, 255, 255, 0.4) !important;
}

/*    scrollbar    */

.MuiDataGrid-scrollbar::-webkit-scrollbar {
  width: 10px;
}

.MuiDataGrid-scrollbar::-webkit-scrollbar-track {
  border-radius: 8px;
  background-color: rgba(255, 255, 255, 0.4);
  border: 1px solid #cacaca;
}

.MuiDataGrid-scrollbar::-webkit-scrollbar-thumb {
  border-radius: 8px;
  background-color: #505050;
}

.MuiDataGrid-scrollbarContent {
  background-color: rgba(255, 255, 255, 0.1);
}

/*    table media    */

@media (min-width: 600px) {
  #root {
    max-width: 400px;
  }
}

@media (min-width: 769px) {
  #root {
    max-width: 500px;
  }
}

/*    error modal     */

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 1000;
}

.error-modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white;
  padding: 48px;
  padding-bottom: 20px;
  border-radius: 16px;
  z-index: 1000;
  box-shadow:
    0 20px 25px -5px rgb(0 0 0 / 0.1),
    0 8px 10px -6px rgb(0 0 0 / 0.1);
}

.error-modal > * {
  padding: 10px 5px;
}

.error-symbol {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  background-color: rgb(254, 226, 226);
  padding: 5px;
}

.oops {
  font-weight: 500;
  margin-top: 10px;
  padding-bottom: 0;
}

.error-message {
  color: #a0aec0;
  text-align: center;
}

.refresh {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  border: 0;
  border-radius: 6px;
  margin-top: 10px;
  background-color: #dc2626;
  color: white;
  cursor: pointer;
  text-align: center;
}
